<div class="container col-lg-5 mx-auto px-4 my-3">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <p class="p-4 bg-warning text-danger" style="border-radius: 0.75rem;">
      <small>Ве молиме имајте на ум дека немаме начин да ја провериме точноста
      на информациите што ги давате, затоа е важно да приложите
      точни информации.
      </small></p>
    <div class="form-inputs">
      <div class="row">
        <div class="col-6">
          <%= f.input :first_name,
                      label: "Име",
                      required: true,
                      autofocus: true %>
        </div>
        <div class="col-6">
          <%= f.input :last_name,
                      label: "Презиме",
                      required: true %>
        </div>
      </div>
      <%= f.input :phone_number,
                  label: "Мобилен број",
                  required: true,
                  placeholder: "00",
                  hint: "Почнувајки со 00",
                  input_html: { value: "00", type: 'number', pattern: '\d*' } %>
      <%= f.input :company,
                  label: "Компанија",
                  required: true %>
      <%= f.input :address,
                  label: "Целосна адреса",
                  required: true %>
      <%= f.input :coc,
                  label: "Матичен број на компанија",
                  required: true %>
      <%= f.input :vat,
                  label: "Даночен број на компанија",
                  required: true %>
      <%= f.input :email,
                  label: "Тековна е-пошта",
                  required: true,
                  input_html: { autocomplete: "current-email" } %>
      <%= f.input :current_password,
                  label: "Тековна лозинка",
                  hint: "ни треба вашата сегашна лозинка за да се зачуваат промените",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <a href="#collapse" class="btn text-center w-100 text-muted" data-bs-toggle="collapse">Промени лозинка</a>
      <div class="collapse" id="collapse">
      <%= f.input :password,
                  label: "Нова лозинка",
                  hint: "оставете празно ако не сакате да ја менувате лозинката",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Потврди лозинка",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Ажурирај", class: "btn btn-primary w-100 text-white my-3 btn-lg" %>
    </div>
  <% end %>

</div>
