<%= render "shared/navbar" %>
<div class="container px-4 my-3">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                label: "Емаил",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: "Лозинка",
                required: true,
                hint: ("#{@minimum_password_length} карактери минимум" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Потврди лозинка",
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Регистрација", class: "btn btn-primary w-100 text-white btn-lg my-3" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
