
<div class="container px-3">
  <%= render 'shared/tabs_index' %>
  <% if @trucks.length == 0 %>
    <div class="bg-white rounded-sm pt-4 pb-3 px-4 mb-3 shadow-sm">
      <p class="text-center">Немате ниту една објава за возило.</p>
      <%= link_to "Креирај објава", new_truck_path, class: "mb-2 btn btn-primary w-100 text-white" %>
    </div>
  <% end %>
  <% @trucks.each do |t| %>
    <%= link_to truck_path(t) do %>
      <%= render 'shared/my_post', t: t %>
    <% end %>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
