<div class="container px-4 mb-3">
  <%= render 'shared/tabs_new' %>

  <%= simple_form_for @post do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :loading_date, placeholder: "Loading date", html5: true, label: "Датум на утовар", input_html: {class: "picker"} %>

    <%= f.input :truck_type, label: "Тип на камион", as: :check_boxes, input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item', collection: [ "Церада", "Мега", "Хладнњача", "Цистерна", "Комбе", "Тандем", "АДР", "Камион(под 7.5т)" ] %>

    <div class="n-top">
      <%= f.input :length, label: "Должина", placeholder: "Метри" %>
    </div>

    <script>
      // add d-none to suggestions-wrappers on window load
      // window.addEventListener("load", function() {
      //   document.querySelectorAll(".suggestions-wrapper").forEach(function(el) {
      //     el.classList.add("d-none");
      //   });
      // });
      // // when focusing on any input field, remove the d-none class from the suggestions-wrapper
      // document.querySelectorAll("input").forEach(function(el) {
      //   el.addEventListener("focus", function() {
      //     el.closest(".form-group").querySelector(".suggestions-wrapper").classList.remove("d-none");
      //   });
      // });
      addEventListener("load", () => {
        var suggestionLists = document.getElementsByClassName("suggestions");
        setTimeout(() => {
          for (var i = 0; i < suggestionLists.length; i++) {
            suggestionLists[i].style.display = "none"
        }
        }, 100);
      });



// zdr

    </script>

    <%= f.simple_fields_for :pickup, @post.pickup do |build| %>
      <%= build.input :place, label: "Преферирано место на утовар",
        input_html: {data: {address_autocomplete_target: "address"}, class:"d-none", },
        wrapper_html: {data: {controller: "address-autocomplete",
        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
    <% end %>

    <%= f.simple_fields_for :dropoff, @post.dropoff do |build| %>
      <%= build.input :place, label: "Преферирано место на истовар",
        input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
        wrapper_html: {data: {controller: "address-autocomplete",
        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
    <% end %>

    <%= f.input :comment, label:"Коментар", id: "textarea", placeholder: "Add more specifics about this post" %>

    <%= f.submit 'Креирај', class: "btn btn-lg btn-primary w-100 text-white" %>

  <% end %>

</div>
