<div class="container p-3">

    <%= simple_form_for @truck do |f| %>
      <%= f.input :loading_date, placeholder: "Loading date", html5: true, label: "Loading date", input_html: {class: "picker"} %>

      <%= f.simple_fields_for :pickups, [@truck.pickups.build] do |build| %>
        <%= build.input :place, label: "Pickup",
          input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
          wrapper_html: {data: {controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
      <% end %>


      <%= f.simple_fields_for :dropoffs, [@truck.dropoffs.build] do |build| %>
        <%= build.input :place, label: "Dropoff",
          input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
          wrapper_html: {data: {controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
      <% end %>
      <%= f.input :tag_list, label: "Truck types", as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item', collection: [ "Tautliner", "Mega", "Fridge", "Tanker", "Van", "ADR", "Tandem" ] %>
      <%= f.input :length, placeholder: "Meters" %>
      <%= f.input :comment, label:"Comment", placeholder: "Add more specifics about this post" %>
      <%= f.submit 'Create', class: "btn btn-lg btn-primary w-100 text-white" %>
    <% end %>

</div>
