<%# MY TRUCKS %>

<div class="container p-3">
  <% @trucks.each do |t| %>
    <div class="bg-white rounded-sm pt-4 pb-3 px-4 mb-3 shadow-sm">
      <div class="row">
        <div class="col-6">
          <p class="my-0 text-truncate"><span><%= image_tag "countries/#{t.pickup.country}.svg", style: "width: 1.15rem; border-radius: 1rem; margin-bottom: 0.15rem;" %></span> <%= t.pickup.place.split.first[0...-1] %></p>
        </div>
        <div class="col-6">
          <p class="m-0 text-end"><%= t.dropoff.place.split.first[0...-1] %><span> <%= image_tag "countries/#{t.dropoff.country}.svg", style: "width: 1.15rem; border-radius: 1rem; margin-bottom: 0.15rem;" %></span></p>
        </div>
      </div>
      <div class="d-flex flex-wrap mt-3">
      <% t.tags.each do |truck| %>
        <p class="tag-pill"><small><%= truck %></small></p>
      <% end %>
      <p class="tag-pill"><small><%= t.length %><%= "m" %></small></p>
      <p class="tag-pill"><small><%= t.comment[0...14] %></small></p>
      </div>
    </div>
  <% end %>
</div>
