<div class=" mt-3 mb-2 rounded-3 sticky-top px-4 py-3" style="background-color: #F4F4F4">
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to root_path do %>
      <%= image_tag "logo_zoom.jpeg", style: "width: 2rem; border-radius: 0.5rem;", class: "" %>
    <% end %>

    <p class="fw-bolder m-0"><%= @page_name ||
      if current_page?(new_user_session_path)
        "Најави се"
      elsif current_page?(new_user_registration_path)
        "Регистрација"
      elsif current_page?(new_user_password_path)
        "Заборавена лозинка"
      elsif current_page?(edit_user_registration_path)
        "Подесувања"
      end
    %></p>
    <% if current_page?(new_truck_path) %>
      <%= link_to truck_templates_path, class:"text-primary" do %>
        <i class="fa fa-solid fa-lg fa-bolt"></i>
      <% end %>
    <% elsif current_page?(new_load_path) %>
      <%= link_to load_templates_path, class:"text-primary" do %>
        <i class="fa fa-solid fa-lg fa-bolt"></i>
      <% end %>
    <% else %>
    <div class="nav-item dropdown">
      <i type="button" class="fa fa-solid fa-plus fa-lg text-primary" data-bs-toggle="dropdown" aria-expanded="false">
      </i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Објави возило", new_truck_path, class: "dropdown-item" %>
        <hr class="dropdown-divider">
        <%= link_to "Објави товар", new_load_path, class: "dropdown-item" %>
        <hr class="dropdown-divider">
        <%= link_to "Профил", profile_path, class: "dropdown-item" %>
        <hr class="dropdown-divider">
        <%= link_to "Одјави се" ,destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
