<div class="bg-white pt-4 pb-3 px-4 mb-3 shadow-sm" style="border-radius: 1rem;">
  <div class="d-flex justify-content-between">
    <div class="d-flex text-truncate" style="width: 50%">
      <p class="m-0"><%= image_tag "countries/#{t.pickup.country}.svg", style: "width: 1.15rem; border-radius: 2rem; margin-bottom: 0.15rem; margin-right: 0.3rem;" %></p>
      <p class="my-0 text-truncate"><%= t.pickup.simple %></p>
    </div>
    <div class="d-flex justify-content-end text-truncate" style="width: 50%">
      <p class="m-0 text-end text-truncate"><%= t.dropoff.simple %></p>
      <p class="m-0"><%= image_tag "countries/#{t.dropoff.country}.svg", style: "width: 1.15rem; border-radius: 1rem; margin-bottom: 0.15rem; margin-left: 0.3rem;" %></p>
    </div>
  </div>
  <div class="d-flex flex-wrap mt-3">
  <% t.truck_type.drop(1).each do |truck| %>
    <p class="tag-pill"><small><%= truck %></small></p>
  <% end %>
  <p class="tag-pill"><small><%= t.length %><%= "m" %></small></p>
  <% if t.weight? %>
  <p class="tag-pill"><small><%= t.weight %><%= "t" %></small></p>
  <% end %>
  </div>
</div>
