<div class="px-3 col-lg-9 mx-auto">
  <%= render 'shared/home_tabs' %>
  <% if !current_user.profile_complete? %>
    <%= render 'shared/messages/complete_profile' %>
  <% else %>
    <%= link_to new_load_path do %>
      <p class="w-100 btn mb-3 text-white btn-primary"><i class="fa fa-solid fa-search"></i> Барај возило</p>
    <% end %>
    <%= render 'shared/users' %>
    <% if @loads.length != 0 %>
      <div class="border p-3 mb-4 rounded-4">
      <p class="fw-bolder px-2"><small>Твои неодамнешни барања</small></p>
      <% @loads.each do |t| %>
        <%= link_to load_path(t) do %>
          <%= render 'shared/my_post', t: t %>
        <% end %>
      <% end %>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @loads, list_classes: %w(pagination justify-content-center) %>
</div>
