<div class="px-3 col-lg-5 mx-auto">
  <%= render 'shared/home_tabs' %>
  <% if !current_user.profile_complete? %>
    <%= render 'shared/messages/complete_profile' %>
  <% else %>
    <%= link_to new_load_path do %>
      <p class="w-100 btn mb-3 text-white btn-primary"><i class="fa fa-solid fa-search"></i> Барај возило</p>
    <% end %>
    <% if @loads.length != 0 %>
      <p class="text-center text-muted"><small>—— Неодамнешни барања ——</small></p>
      <% @loads.each do |t| %>
        <%= link_to load_path(t) do %>
          <%= render 'shared/my_post', t: t %>
        <% end %>
      <% end %>
    <% else %>
      <%= render 'shared/messages/you_dont_have_any_posts_yet' %>
    <% end %>
  <% end %>
  <%= will_paginate @loads, list_classes: %w(pagination justify-content-center) %>
</div>
