<%= render 'shared/actions' %>
<%= render 'shared/post_show' %>
<hr class="mx-4" style="margin-top: -0.15rem;">
<p class="fw-bolder px-4" style= "margin-left: 2.5rem;"><small>Пронајдени возила</small></p>
<% if @truck.user == current_user && @truck.status == true %>
  <% if @suggested_trucks.empty? %>
    <%= render 'shared/messages/no_matches_found' %>
  <% end %>
  <% @suggested_trucks.each do |t| %>
    <%= link_to truck_path(t) do %>
      <div class="px-3"><%= render 'shared/post', t: t %></div>
    <% end %>
  <% end %>
<% end %>
