<%= render 'shared/actions' %>
<%= render 'shared/post_show' %>
<% if @truck.user == current_user && @truck.status == true %>

  <% if @suggested_trucks.empty? %>
    <div class="px-4"><p class="text-danger bg-warning rounded-4 py-3 mt-2 px-4"><span></span>Нема ниедно возило што одговара на оваа објава</p></div>
  <% else %>
  <p class="mx-3"><%= @truck.comment %></p>
  <p class="fw-bolder px-4" style= "margin-left: 2.5rem;"><small>ПРЕДЛОЗИ ЗА ВОЗИЛО</small></p>
  <% end %>
  <% @suggested_trucks.each do |t| %>
    <%= link_to truck_path(t) do %>
      <div class="px-3"><%= render 'shared/post', t: t %></div>
    <% end %>
  <% end %>

<% end %>
