<div class="col-lg-5 px-3 mx-auto">
  <% if @truck.user == current_user %>
    <%= render 'shared/my_post_show' %>
    <% if @truck.status? %>
      <p class="text-muted text-center"><small>—— Резултати од барањето ——</small></p>
      <% if @suggested_trucks.length == 0 %>
        <%= render 'shared/messages/no_matches_found' %>
      <% else %>
        <% @suggested_trucks.each do |t| %>
          <%= link_to truck_path(t) do %>
            <%= render 'shared/post', t: t %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render 'shared/actions' %>
    <%= render 'shared/post_show' %>
  <% end %>
</div>
