<%# MY TRUCKS %>
<div class="container p-3">
  <% @trucks.each do |t| %>
    <div class="bg-white rounded-sm pt-4 pb-3 px-4 mb-3 shadow-sm">
      <div class="row">
        <div class="col-6">
          <p class="fw-bold"><%= t.user.email %></p>
        </div>
        <div class="col-6">
          <p class="text-muted text-end"><small><%= t.ago %></small></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <% t.pickups.each do |pickup| %>
            <p class="my-0 text-truncate"><%= pickup.place.split.first[0...-1] %></p>
          <% end %>
        </div>
        <div class="col-6">
          <% t.dropoffs.each do |dropoff| %>
            <p class="m-0 text-end"><%= dropoff.place.split.first[0...-1] %></p>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-wrap mt-3">
      <p class="tag-pill"><small><%= t.loading_date.strftime("%d %b, %a") %></small></p>
      <% t.tags.each do |truck| %>
        <p class="tag-pill"><small><%= truck %></small></p>
      <% end %>
      <p class="tag-pill"><small><%= t.length %><%= "m" %></small></p>
      </div>
    </div>
  <% end %>
</div>
