<div class="container px-3">

  <% if user_signed_in? %>
    <% if current_user.profile_complete? %>
    <nav>
      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <button class="nav-link w-50 active text-truncate" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">📦 Мој товар</button>
        <button class="nav-link w-50 text-truncate" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">🚚 Мои возила</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <% if @loads.length == 0 %>
          <div class="bg-white pt-4 pb-3 px-4 mb-3 shadow-sm" style="border-radius: 1rem;">
            <p class="text-center text-muted"><small>Немате ниту една објава за товар</small></p>
            <%= link_to "Креирај објава", load_templates_path, class: "mb-2 btn rounded-4 btn-primary w-100 text-white" %>
          </div>
          <% else %>
          <%= link_to "Креирај објава за товар", load_templates_path, class: "mb-3 btn btn-lg bg-white text-primary w-100 rounded-4 shadow-sm" %>
          <% @loads.each do |t| %>
            <%= link_to load_path(t) do %>
              <%= render 'shared/my_post', t: t %>
            <% end %>
          <% end %>
          <%= will_paginate @loads, list_classes: %w(pagination justify-content-center) %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <% if @trucks.length == 0 %>
          <div class="bg-white pt-4 pb-3 px-4 mb-3 shadow-sm" style="border-radius: 1rem;">
            <p class="text-center text-muted"><small>Немате ниту една објава за возило</small></p>
            <%= link_to "Креирај објава", truck_templates_path, class: "mb-2 rounded-4 btn btn-primary w-100 text-white" %>
          </div>
          <% else %>
          <%= link_to "Креирај објава за возило", truck_templates_path, class: "mb-3 btn btn-lg bg-white text-primary w-100 rounded-4 shadow-sm" %>
          <% @trucks.each do |t| %>
            <%= link_to truck_path(t) do %>
              <%= render 'shared/my_post', t: t %>
            <% end %>
          <% end %>
          <%= will_paginate @trucks, list_classes: %w(pagination justify-content-center) %>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="bg-white pt-4 pb-3 px-4 mb-3 shadow-sm" style="border-radius: 1rem;">
        <p class="text-center text-muted"><small>Добредојдовте, со цел да имате комплетен пристап до сите функции ве молиме комплетирајте го вашиот профил.</small></p>
        <%= link_to "Комплетирај профил", edit_user_registration_path, class: "mb-2 btn rounded-4 btn-primary w-100 text-white" %>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/value_proposition' %>
  <% end %>

</div>
