<div class="container px-3">

  <% if user_signed_in? %>
  <nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button class="nav-link w-50 active text-truncate" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">游닍 햎쮐 혝쮏쒫썜</button>
      <button class="nav-link w-50 text-truncate" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">游뚴 햎쮏 쒫쮏햦햩햟</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
       <% if @loads.length == 0 %>
        <div class="bg-white pt-4 pb-3 px-4 mb-3 shadow-sm" style="border-radius: 1rem;">
          <p class="text-center text-muted"><small>햏햣햪햟혝햣 햫햦혝혞 햣햢햫햟 쮏쐄떓썛쒫 향햟 혝쮏쒫썜</small></p>
          <%= link_to "햌햣햦햟혲 쮏쐄떓썛쒫", load_templates_path, class: "mb-2 btn rounded-4 btn-primary w-100 text-white" %>
        </div>
        <% else %>
        <%= link_to "햌햣햦햟혲 쮏쐄떓썛쒫 향햟 혝쮏쒫썜", load_templates_path, class: "mb-3 btn btn-lg btn-primary w-100 text-white" %>
        <% @loads.each do |t| %>
          <%= link_to load_path(t) do %>
            <%= render 'shared/my_post', t: t %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <% if @trucks.length == 0 %>
        <div class="bg-white pt-4 pb-3 px-4 mb-3 shadow-sm" style="border-radius: 1rem;">
          <p class="text-center text-muted"><small>햏햣햪햟혝햣 햫햦혝혞 햣햢햫햟 쮏쐄떓썛쒫 향햟 쒫쮏햦햩</small></p>
          <%= link_to "햌햣햦햟혲 쮏쐄떓썛쒫", truck_templates_path, class: "mb-2 rounded-4 btn btn-primary w-100 text-white" %>
        </div>
        <% else %>
        <%= link_to "햌햣햦햟혲 쮏쐄떓썛쒫 향햟 쒫쮏햦햩", truck_templates_path, class: "mb-3 btn btn-lg bg-white text-primary w-100 rounded-4 shadow-sm" %>
        <% @trucks.each do |t| %>
          <%= link_to truck_path(t) do %>
            <%= render 'shared/my_post', t: t %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% else %>
    <%= render 'shared/value_proposition' %>
  <% end %>

</div>
