<div class="container px-3 mb-3">
  <% if user_signed_in? %>
    <%= render 'shared/tabs_home' %>
    <%= link_to truck_templates_path do %>
    <div class="bg-white rounded-sm px-4 py-3 mb-3 shadow-sm">
      <div class="d-flex">
        <p class="mb-0" style="margin-right: 0.75rem;"><span class="fa fa-solid fa-magnifying-glass text-primary"></span></p>
        <p class="my-0 text-truncate text-primary">Детално барање</p>
      </div>
    </div>
    <% end %>
    <p class="text-muted px-3"><small>Последни објави за товар</small></p>
    <% @suggested_loads.each do |t| %>
      <%= link_to load_path(t) do %>
        <%= render 'shared/post', t: t %>
      <% end %>
    <% end %>
  <% else %>
  <%= render "shared/value_proposition" %>
  <% end %>
</div>
