<div class="container px-3 py-4 mt-2">
  <div class="bg-white rounded-4 shadow-sm p-4">
  <%= link_to root_path do %>
    <p class="" style="width: 2rem;"><span class="fa fa-solid fa-arrow-left text-primary"></span></p>
  <% end %>
  <p class="display-6 fw-bolder">Најави се</p>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  label: "Емаил",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: "Лозинка",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: "Запамти ме", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Најави се", class: "btn btn-lg btn-primary w-100 text-white mb-3" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>
</div>
