<!DOCTYPE html>
<html>
  <head>
    <title>Cargster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <meta name="theme-color" content="#F4F4F4">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo_zoom.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render 'shared/navbar' if user_signed_in? %>
    <%= yield %>
  </body>
</html>
